/* You can add global styles to this file, and also import other style files */
// Variables de couleur
$color-primary-dark: #3B6997;        // Bleu sombre, principal
$color-primary-dark-secondary: #598392; // Bleu sombre, secondaire
$color-primary-light: #51B3DE;       // Bleu clair, principal
$color-green-primary: #79D841;       // Vert pomme, principal
$color-light-secondary: #C2D5EF;     // Bleu clair, fond secondaire
$color-red: #C71400;                 // Rouge Smarty
$color-warning: #FE8F2B;             // Orange, Warning
$color-warning-semi: #FED42A;        // Jaune, Semi Warning
$color-green-ok: #21A179;            // Vert, OK
$color-gray-secondary: #E5E5E5;      // Gris, fond secondaire
$color-brown-tertiary: #EEE3D4;      // Marron clair, fond tertiaire

// Classe pour créer un effet transparent ( verre dépoli )
.transparent-blur-bg {
  background-color: rgba(255, 255, 255, 0.3);  // Couleur de fond blanche avec une opacité de 30%
  backdrop-filter: blur(10px);  // Applique un flou de 10px aux éléments en arrière-plan
  -webkit-backdrop-filter: blur(10px);  // Compatibilité avec Safari  <!! Non testé !!>
  border-radius: 10px;  // Optionnel : arrondi des coins, à ajuster selon les besoins
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  // Optionnel : légère ombre pour un effet de profondeur
}

body {
  font-family: 'Arial', sans-serif;
  background: $color-gray-secondary;
  color: $color-primary-dark;
}

.custom-vehicle-icon {
  width: 30px !important;
  height: 45px !important;
  &>img {
    width: 100% !important;
    height: 100% !important;
  }
}

.highlighted-marker {
  width: 45px !important; // Augmenter la largeur de 15px
  height: 60px !important; // Augmenter la hauteur de 15px
  &>svg,&>img {
    width: 100% !important;
    height: 100% !important;
    animation: grow 0.5s ease-in-out infinite alternate;
  }
}

// Définir les keyframes pour l'animation de saut
@keyframes grow {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.3, 1.3, 1.3);
  }
}


